extends layout

block content
  #greeter
    h1 Welcome!
    p 
      | This is a small Proof-of-concept app for creating dynamic chatroom-like urls with 
      a(href="http://expressjs.com") express
      | . Additionally, this small app makes use of 
      a(href="http://socket.io/") socket.io
      | , 
      a(href="http://jade-lang.com/") jade
      | , 
      a(href="http://jquery.com/") jquery 
      | and 
      a(href="http://getbootstrap.com/") bootstrap 
      | for the plumbing and shiny. 

  p
    button(class="create-btn") Create a room

  #allRooms
    ul

  p
    button(class="clear-btn") Remove all rooms

  script(type='text/javascript', src='/js/frontend.js')