extends layout

block content
  .centered.column.border-deco.extra-padding-top
  
  p.title EXPRESS DYNAMIC URL ROUTES
  
  .centered.column.border-deco
  .centered.column.subtitle.underlined.smaller-font
    | Get the source on 
    a(href='http://github.com/orbitbot/dyn-url') github
    
  .centered.column
    p#welcome
      | This is a small Proof-of-concept app for dynamically  
      | generated pages with random urls using  
      a(href="http://expressjs.com") express
      | . Additionally, the app makes use of 
      a(href="http://socket.io/") socket.io
      | , 
      a(href="http://jade-lang.com/") jade
      |  and 
      a(href="http://jquery.com/") jquery
      |  for the plumbing and shiny.

    p#status

    p
      button(class="create-btn") Create a page
      button(class="clear-btn") Remove all pages

    #pages
      ul.centered

  script(type='text/javascript', src='/js/frontend.js')