extends layout

block content
  p welcome to #{title}

  p
    button(class="create-btn") Create room

  #allRooms
    ul

  p
    button(class="clear-btn") Remove all rooms

  script(type='text/javascript', src='/js/socket.js')