doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content

    #footer
      | Get the source on 
      a(href='http://github.com/orbitbot/dyn-url') github