doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/libs/jquery/jquery.min.js')
    script(type='text/javascript', src='/libs/socket.io-client/dist/socket.io.js')
  body
    block content

    #footer
      | Get the source on 
      a(href='http://github.com/orbitbot/dyn-url') github