extends layout

block content
  script(type='text/javascript').
    var roomId =!{ JSON.stringify(name) };

  p This is a room with the id #{name}

  p
    button(class="destroy-btn") Destroy this room

  script(type='text/javascript', src='/js/socket.js')