body {
  padding: 50px;
  text-align: center;
  font-family: 'League Gothic', serif;
  font-size: 28px;
  color: #ffffff;
  background-color: #1a252e;
}

.column {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #00B7FF;
}

ul {
  list-style: none;
  width: 250px;
  padding: 0;
}

ul li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 4px;
  background-color: #F5F5F5;
  border-radius: 6px;
}

.title {
  color: #b93d3d;
  height: 78px;
  font-size: 72px;
  font-weight: bold;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.subtitle {
  padding-top: 16px;
  padding-bottom: 16px;
}

.border-deco {
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom: 3px dashed #ffffff;
}

.extra-padding-top {
  padding-top: 1.5em;
}

.logo {
  font-family: tinetregular;
  font-size: 62px;
  margin-left: -10px;
  line-height: 1px;
}

.container {
  width: 68px;
}

.circle {
  width: 100%;
  height: 0;
  line-height: 0;
  padding: 50% 0;
  border-radius: 50%;
  background: #b93d3d;
  border: 4px solid #ffffff;
}

.smaller-font {
  font-size: 24px;
}

.huge-font {
  font-size: 88px;
}

.underlined {
  text-decoration: underline;
}

.destroy-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer {
  margin-top: 5em;
  padding-top: 20px;
  border-top: 3px dashed #ffffff;
}
